.chip-main-container {
    padding: 5px 18px;

    border-style: solid;
    border-radius: 24px;
    border-width: 2px;
    border-color: #471515;

    background-color: rgba(255, 76, 76, 0.15);
}

.chip-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chip-heading {
    font-family: "Roboto Flex";
    font-weight: medium;
    font-size: 16px;

    margin: 0;
}